[submodule "android-push-sdk/sub/engine.io-client-java"]
	path = android-push-sdk/sub/engine.io-client-java
	url = https://github.com/xuduo/engine.io-client-java
[submodule "android-push-sdk/sub/socket.io-client-java"]
	path = android-push-sdk/sub/socket.io-client-java
	url = https://github.com/xuduo/socket.io-client-java
