<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yy.misaka.demo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- huawei -->


    <uses-permission android:name="android.permission.GET_TASKS" /><!-- xiaomi -->
    <uses-permission android:name="android.permission.VIBRATE"/><!-- xiaomi -->

    <permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" /><!-- xiaomi -->
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" /><!-- xiaomi -->

    <!-- 魅族 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"></uses-permission>
    <permission android:name="${applicationId}.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.push.permission.MESSAGE"></uses-permission>

    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"></permission>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/misaka"
        android:label="@string/app_name"
        android:name=".appmodel.DemoApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NickNameActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:label="ChatRoom" >
        </activity>

        <activity android:name=".DrawActivity"></activity>
        <service android:name="com.yy.httpproxy.service.ConnectionService" android:process=":push" android:enabled="true"/>
        <service android:name="com.yy.httpproxy.service.ForegroundService" android:process=":push" android:enabled="true"/>
        <service android:name="com.yy.httpproxy.service.DummyService" android:process=":push" android:enabled="true"/>

        <receiver
            android:name=".appmodel.YYNotificationReceiver"
            android:enabled="true"
            android:exported="true" >

            <!-- 这里${applicationId} 改成app包名 -->
            <intent-filter>
                <action android:name="${applicationId}.YY_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.yy.httpproxy.service.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- 华为配置开始-->
        <receiver android:name="com.yy.httpproxy.thirdparty.HuaweiReceiver">
            <intent-filter>
                <!-- 必须,用于接收token-->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息-->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调-->
                <action android:name="com.huawei.android.push.intent.CLICK" />
            </intent-filter>
            <meta-data android:name="CS_cloud_ablitity" android:value="@string/hwpush_ability_value"/>
        </receiver>
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.huawei.android.pushagent.PushBootReceiver"
            >
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTER" />
            </intent-filter>
            <meta-data
                android:name="CS_cloud_version"
                android:value="\u0032\u0037\u0030\u0035" />
        </receiver>
        <service
            android:name="com.huawei.android.pushagent.PushService">
        </service>
        <!-- 华为配置结束-->


        <!-- 小米配置开始-->
        <!-- 被杀后,push进程无法通过intent 拉起main进程,XiaomiReceiver 要跑在主进程-->
        <!-- 坑！KEY ID 需要写在 strings.xml 否则会被当作数字处理 -->
        <meta-data android:name="XIAOMI_APP_ID"
            android:value="@string/XIAOMI_APP_ID" />
        <meta-data android:name="XIAOMI_APP_KEY"
            android:value="@string/XIAOMI_APP_KEY" />
        <receiver
            android:exported="true"
            android:name="com.yy.httpproxy.thirdparty.XiaomiReceiver"
           >
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
        </receiver>
        <receiver
            android:exported="false"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!-- 小米配置结束-->

        <!-- 友盟配置开始-->
        <service
            android:name="com.yy.httpproxy.thirdparty.UmengIntentService"
            android:process=":push"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59229cabf29d982ebd000b4b">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5bf1308391c476e2948575e9a8bd3f34">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>

        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":push" />

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
        </service>

        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="${applicationId}.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <!-- 友盟配置结束-->


        <!-- meizu 开始 -->
        <receiver android:name="com.yy.httpproxy.thirdparty.MyMzPushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="MEIZU_APP_ID"
            android:value="111476"/>

        <meta-data
            android:name="MEIZU_APP_KEY"
            android:value="97499d37daaa4b03bdadeeae1146012f"/>

        <!-- meizu 结束 -->

        <!-- test配置 -->
        <!--<activity android:name=".test.TestActivity"></activity>-->
    </application>

</manifest>